* {
  font-family: "Nobile", sans-serif;
}

html {
  font-size: 16px;
}

abbr {
  border-bottom: none !important;
  cursor: inherit !important;
  text-decoration: none !important;
}

.bold {
  font-weight: 700;
}

.code {
  background-color: #e8e8e8;
  font-size: 0.85rem;
}

.code_highlight {
  font-family: inherit;
  background-color: rgba(174, 238, 174, 1);
}

.App {
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.App-link {
  color: #09d3ac;
}

/* https://css-tricks.com/snippets/css/fluid-typography/ font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));*/
